@import '../../assets/styles/vars.scss';
@import '../../assets/styles/mixin.scss';

.forgot-password-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #f7f7f7;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background-color: white;
    padding-bottom: 100%;
    width: 100%;
    bottom: 0;
    right: -28.5%;
    transform: rotate(33deg);
    transform-origin: left bottom;

    @include web-l {
      right: -26.5%;
    }

    @include web-s {
      right: -28%;
    }
  }

  .box {
    position: relative;
    width: 100%;
    padding: 45px 0 0 40px;
    height: 600px;
    max-width: 1040px;
    border-radius: 15px;
    background-color: $color-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    .ra-language-switch {
      position: absolute;
      top: -40px;
      right: 0;
    }

    .view-header {
      position: absolute;
      z-index: 2;

      .view-title {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.18px;
        color: $color-rolling-stone;

        & div:first-child {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.22px;
          color: $color-tuna;
        }
      }
    }

    .players-image {
      position: absolute;
      z-index: 0;
      width: 102%;
      height: 100%;
      min-height: 300px;
      top: 0;
      right: 0;
      background: url(../../assets/images/players.png) no-repeat;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }

    .forgot-password-form {
      position: relative;
      z-index: 1;
      margin-top: 110px;
      width: 100%;
      max-width: 300px;
    }
  }


  @include mobile-l {
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    background: url(../../assets/images/path.png) no-repeat top center;
    background-size: 100% 401px;
    height: auto;
    min-height: 100%;

    &:before {
      display: none;
    }

    .box {
      position: relative;
      margin: 190px 0 0 0;
      padding: 26px 15px;
      width: calc(100% - 40px);
      border-radius: 15px;
      background-color: $color-white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      height: auto;

      .ra-language-switch {
        display: none;
      }

      .view-header {
        position: relative;
        top: -215px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        text-align: center;

        .rapsodo-logo {
          align-self: center;
          margin-top: 43px;
        }

        .view-title {
          position: relative;
          z-index: 1;
          margin-top: 6px;
          font-size: 12px;
          letter-spacing: 0.14px;
          color: $color-white;
          font-weight: 500;

          & div:first-child {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.14px;
            color: $color-white;
          }
        }
      }

      .players-image {
        position: absolute;
        width: 102%;
        height: auto;
        min-height: 300px;
        left: -2%;
        top: -17%;
        background: url(../../assets/images/players-mobile.png) no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .forgot-password-form {
        margin-top: 25%;
        max-width: unset;

        .continue-button {
          margin-top: 60px;
        }
      }
    }
  }
  @include mobile-m {
    background-size: 100% 353px;
  }

  @include mobile-s {
    background-size: 100% 314px;
  }
}
