$screen-mobile-l: 414px;
$screen-mobile-m: 375px;
$screen-mobile-s: 320px;
$screen-web-s: 1366px;
$screen-web-l: 1440px;

$color-white: #ffffff;
$color-alabaster: #f7f7f7;
$color-tundora: #404040;
$color-rolling-stone: #7c7e7f;
$color-dusty-gray: #969696;
$color-abbey: #4b4f54;
$color-crimson: #c8102e;
$color-tamarillo: #af141f;
$color-gallery: #ededed;
$color-silver: #bababa;
$color-silver-sand: #bbbcbc;
$color-tuna: #383c41;
$color-tiber: #07263c;
